<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <link rel="stylesheet" href="static/css/admin.css">
  <link rel="shortcut icon" href="static/images/logo1.png" />
  <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
  <link href="static/css/icons.css" rel="stylesheet">
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <!--<div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">-->
        <!--<a class="navbar-brand brand-logo" href="../../index.html">-->
          <!--&lt;!&ndash;<img src="static/images/logo1.png" alt="logo" />&ndash;&gt;-->
        <!--</a>-->
        <!--<a class="navbar-brand brand-logo-mini" href="../../index.html">-->
          <!--<img src="static/images/logo1.svg" alt="logo" />-->
        <!--</a>-->
      <!--</div>-->
      <div class="navbar-menu-wrapper d-flex align-items-center">



          <!--<li class="nav-item">-->
            <!--<a href="#" class="nav-link">-->
              <!--<i class="mdi mdi-bookmark-plus-outline"></i>Score</a>-->
          <!--</li>-->
              <h3 style="margin-left:470px">Administration System</h3>
             <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
              <span class="profile-text">Hello, {{adminname}}!</span>
              <!--<a href="/admin_logout">Sign Out</a>-->
                                      <a href="/admin_logout" title="" itemprop="url"><i class="fa fa-sign-out" aria-hidden="true"></i></a>

          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_table">
              <span class="menu-title">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_post_table">
              <span class="menu-title">Posts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact_us_feedback">
              <span class="menu-title">Feedback</span>
            </a>
          </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-cube text-danger icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Booked Revenue</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">AU$ {{price}}</h3>
                      </div>
                    </div>
                  </div>
                  <!--<p class="text-muted mt-3 mb-0">-->
                    <!--<i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth-->
                  <!--</p>-->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-receipt text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Users</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">{{numOfUsers}}</h3>
                      </div>
                    </div>
                  </div>
                  <!--<p class="text-muted mt-3 mb-0">-->
                    <!--<i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Product-wise sales-->
                  <!--</p>-->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-poll-box text-success icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Posts</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">{{numOfPosts}}</h3>
                      </div>
                    </div>
                  </div>
                  <!--<p class="text-muted mt-3 mb-0">-->
                    <!--<i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Weekly Sales-->
                  <!--</p>-->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-account-location text-info icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Sales</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">{{transactions}}</h3>
                      </div>
                    </div>
                  </div>
                  <!--<p class="text-muted mt-3 mb-0">-->
                    <!--<i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Product-wise sales-->
                  <!--</p>-->
                </div>
              </div>
            </div>
          </div>

        </div>


  <script type="text/javascript">
      google.charts.load('current', {
        'packages':['map'],
        'mapsApiKey': 'AIzaSyAoVsCGcBU7KSsnDW1GjDftC06SvpHMnX8'
      });
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
      data.addColumn('string', 'Address');
      data.addColumn('string', 'Location');

      data.addRows({{map_visulization | safe}});

        var options = {
        icons: {
                    default: {
                      normal: 'static/images/home-blue-size24.png',
                      selected: 'static/images/home-white-size24.png'
                    }
                },
        mapType: 'normal',
        <!--showTooltip: true,-->
        showInfoWindow: true,
        <!--useMapTypeControl: true,-->

        };

        var map = new google.visualization.Map(document.getElementById('map_markers_div'));
        map.draw(data, options);
      }
  </script>
<div id="map_markers_div" style="height: 400px"></div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
          <div>
          <div style="width:600px;height:400px;padding:0;float: left;">
              <!--<canvas id="bar_chart" style="width:600px;height:400px;display:block;"></canvas>-->
          </div>
        <!--<script>-->
        <!--var randomColorPlugin = {-->
            <!--beforeUpdate: function(chart) {-->
                <!--var backgroundColor = [];-->
                <!--var borderColor = [];-->

                <!--// For every data we have ...-->
                <!--for (var i = 0; i < chart.config.data.datasets[0].data.length; i++) {-->

                    <!--// We generate a random color-->
                    <!--var color = "rgba(" + Math.floor(Math.random() * 255) + "," + Math.floor(Math.random() * 255) + "," + Math.floor(Math.random() * 255) + ",";-->

                    <!--// We push this new color to both background and border color arrays-->
                    <!--// .. a lighter color is used for the background-->
                    <!--backgroundColor.push(color + "0.2)");-->
                    <!--borderColor.push(color + "1)");-->
                <!--}-->

                <!--// We update the chart bars color properties-->
                <!--chart.config.data.datasets[0].backgroundColor = backgroundColor;-->
                <!--chart.config.data.datasets[0].borderColor = borderColor;-->
            <!--}-->
        <!--};-->
        <!--Chart.pluginService.register(randomColorPlugin);-->
        <!--var labels = [{% for item in bar_labels %}"{{ item }}",{% endfor %}];-->
        <!--var values = [{% for item in bar_values %}{{ item }},{% endfor %}];-->
		<!--var barChartData = {-->
			<!--labels: labels,-->
			<!--datasets: [{-->
				<!--label: 'Dataset 1',-->
				<!--backgroundColor: 'rgba(255, 99, 132, 0.2)',-->
				<!--borderColor: 'rgba(255,99,132,1)',-->
				<!--borderWidth: 1,-->
				<!--data: values-->
			<!--}]-->
			<!--};-->
			<!--var ctx = document.getElementById('bar_chart').getContext('2d');-->
			<!--var myBar = new Chart(ctx, {-->
				<!--type: 'bar',-->
				<!--data: barChartData,-->
				<!--options: {-->
					<!--responsive: true,-->
					<!--legend: {-->
						<!--position: 'top',-->
					<!--},-->
					<!--title: {-->
						<!--display: true,-->
						<!--text: 'Income over time'-->
					<!--}-->
				<!--}-->
			<!--});-->
    <!--</script>-->
          <div style="width:300px;height:300px;padding:0;float:right">
        <!--<canvas id="age_chart" width="300px" height="300px;"></canvas>-->
              </div>
        <!--<script>-->
        <!--var values = [{% for item in pie_values %}{{item}},{%endfor%}];-->
        <!--var labels = [{% for label in pie_labels %}"{{label|safe}}",{%endfor%}];-->
        <!--var colors = [{% for colors in pie_colors%}"{{colors}}",{%endfor%}];-->
        <!--var chart = new Chart(document.getElementById("age_chart"), {-->
            <!--type: 'pie',-->
            <!--data: {-->
              <!--labels: labels,-->
              <!--datasets: [{-->
                <!--label: "Series 01",-->
                <!--backgroundColor: colors,-->
                <!--data: values-->
              <!--}]-->
            <!--},-->
            <!--options: {-->
              <!--title: {-->
                <!--display: true,-->
                <!--text: 'Age: '-->
              <!--},-->
              <!--legend: {-->
                <!--labels: {-->
                  <!--/* here one can adjust the legend's labels, if required */-->
                  <!--// generateLabels: function(chart) {}-->
                <!--}-->
              <!--}-->
            <!--}-->
        <!--});-->

    <!--</script>-->
        </div>

        <footer class="footer">

        </footer>
        <!-- partial -->
      </div>

        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">

        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <!--<script src="static/vendors/js/vendor.bundle.base.js"></script>-->
  <!--<script src="static/vendors/js/vendor.bundle.addons.js"></script>-->
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <!--<script src="static/js/admin_off-canvas.js"></script>-->
  <!--<script src="static/js/admin_misc.js"></script>-->

  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>