<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <link rel="stylesheet" href="static/css/admin.css">
  <link rel="stylesheet" href="static/css/admin_ext.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="static/images/logo1.png" />
    <script src="static/js/jquery-3.3.1.min.js"></script>
</head>

<body>
  <div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-menu-wrapper d-flex align-items-center">
                    <h3 style="margin-left:470px">Administration System</h3>

        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
              <span class="profile-text">Hello, {{adminname}}!</span>
              <a href="/admin_logout">Sign Out</a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_table">
              <span class="menu-title">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_post_table">
              <span class="menu-title">Posts</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="contact_us_feedback">
              <span class="menu-title">Feedback</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Properties</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Email
                          </th>
                          <th>
                            Property name
                          </th>
                          <th>
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for item in result %}
                          <tr>
                            <td>{{item.email}}</td>
                            <td>{{item.name}}</td>
                            <td><form method="post" action="admin_post_table"><button type="submit" name="username" value="{{item._id}}" class="btn btn-outline-danger">Delete</button></form></td>
                          </tr>
                          {% endfor %}

                      </tbody>
                    </table>

                  </div>
                </div>
                  <div class="pager">
                      <form method="post" action="admin_post_table" class="widthh"><button class="btn btn-inverse-success btn-rounded btn-fw" type="submit" id="previous_page" name="previous_page" value="{{page}}">Prev</button></form>
                      <span>{{page}}</span>
                      <form method="post" action="admin_post_table" class="widthh"><button class="btn btn-inverse-success btn-rounded btn-fw" type="submit" id="next_page" name="next_page" value="{{page}}">Next</button></form>
                </div>
              </div>
            </div>

          </div>
        </div>
        <footer class="footer">
        </footer>
      </div>
    </div>
</body>

</html>