<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FORGET PASSWORD</title>
    <link href="static/css/bootstrap1.min.css" rel="stylesheet">
    <link href="static/css/gloab.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <script src="static/js/register.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
</head>

<body class="bgf4">
<div class="login-box f-mt10 f-pb50">
    <div class="main bgf">
        <div class="reg-box-pan display-inline">
            <div class="step">
                <ul>
                    <li class="col-xs-4 on">
                        <span class="num"><em class="f-r5"></em><i>1</i></span>
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">Forget Password</p>
                    </li>
                    <li class="col-xs-4">
                        <span class="num"><em class="f-r5"></em><i>2</i></span>
                        <span class="line_bg lbg-l"></span>
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">Verify Email Address</p>
                    </li>
                    <li class="col-xs-4">
                        <span class="num"><em class="f-r5"></em><i>3</i></span>
                        <span class="line_bg lbg-l"></span>
                        <p class="lbg-txt">Set New Password</p>
                    </li>
                </ul>
            </div>
            <div class="reg-box" id="verifyCheck" style="margin-top:20px;">

                <div class="part1">
                    <form method="post">

                        <div class="item col-xs-12">
                            <span class="intelligent-label f-fl">You Email:</span>
                            <div class="f-fl item-ifo">
                                <input type="text" class="txt03 f-r3 required" tabindex="2" data-valid="isNonEmpty"
                                       data-error="Email cannot be NULL||Incorrect email format" maxlength="40"
                                       id="email" name="email"/>
                                <span class="ie8 icon-close close hide"></span>
                                <label class="icon-sucessfill blank hide"></label>
                                <label class="focus">Please fill in a valid email address</label>
                                <label class="focus valid"></label>
                            </div>
                        </div>

                        <div style="color:red">{% for message in get_flashed_messages() %}
                            {{ message }}
                            {% endfor %}
                        </div>
                        <br/>

                        <div class="item col-xs-12">
                            <span class="intelligent-label f-fl">&nbsp;</span>
                            <div class="f-fl item-ifo">
                                <button type="submit" href="/forget2" class="btn btn-blue f-r3" id="btn_part1">Find
                                    Password!
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>
