<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LOGIN</title>
	<link rel="stylesheet" type="text/css" href="static/css/zui.css" media="all">
	<link rel="stylesheet" type="text/css" href="static/css/login.css" media="all">
    <link href="static/css/animate.mine.css" rel="stylesheet">
	<link href="static/css/font-awesome.min.css" rel="stylesheet">
	<style> body { background-image: url("static/images/4.jpg")}</style>
</head>

<body>


<div id="main-box"></div>
<div id="main-content"> 
<div class="login-body  animated fadeInLeft">
    <div class="login-main pr">
        <br>

        <form method="post" class="login-form">
         <a href="/" title="" itemprop="url"><i class="icon-home" style="font-size: 35px;color: #259dab"></i></a>
        <h3> LOGIN </h3>
        <h5 style="padding-bottom: 10px"> Welcome to WeStay </h5>
        		    <!-- 账号登陆 -->
        <div id="MobileBox" class="item-box"  >
            <div class="input-group user-name"> <span class="input-group-addon"><i class="icon-user"></i></span>
            <input type="text" name="email" class="form-control" placeholder="Email">
         </div>
         <div class="input-group password"> <span class="input-group-addon"><i class="icon-lock"></i></span>
            <input type="password" name="password" class="form-control" placeholder="Password">
         </div>

            <div class="use-qrcode-a"><a class="use-ding" href="register"> Not a member ? Register Now!</a> </div>
            <!--
		<div class="use-qrcode-a"><a class="use-ding" href="javascript:void(0)"><img src="static/images/google.jpg" width="17" height="17" style="margin-top:-2px"> CONNECT WITH GOOGLE</a> </div>
		  --><div style="color:white">{% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                {{ message }}</div>
                    {% endfor %}</div>

   
          <div class="login_btn_panel">
            <button class=" btn btn-primary btn-block btn-lg" data-ajax="post" type="submit" data-callback="success">Go!</button>
              <br>
              <div style="display:inline-block;float: left"><a href="/admin_login2">Login as administrator</a></div>
              <div style="display:inline-block;float: right"><a class="use-ding" href="forget">    Forget password!</a> </div>
          </div>

     </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>
