{% extends "base.html" %}
{% block body_contents %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-9">
            <div id="edit" class="tab-pane">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 detailed">
                        <h4 class="mb">Reset Password</h4>
                        <form method="post" role="form" class="form-horizontal">

                            <div class="form-group">
                                <label class="col-lg-6 control-label">*Password:</label>
                                <div class="col-lg-6">
                                    <input type="password" placeholder=" " id="new_pw " name="new_pw"
                                           class="form-control" style="border-radius: 30px;">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-lg-6 control-label">*Confirm Password:</label>
                                <div class="col-lg-6">
                                    <input type="password" placeholder=" " id="con_pw " name="con_pw"
                                           class="form-control" style="border-radius: 30px;">
                                </div>
                            </div>


                            <button  type="submit" class="thm-btn2 rd30" id="rpw-submit"
                                    style="float: right;">save
                            </button>
</form>
                         {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                        {{message}}
                         </div>

                        {{ message }}
                        {% endfor %}
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<div class="gp"></div>

{% endblock %}