{% extends "base2.html" %}
{% block body_contents %}
        <div id="searchNotification">Searching</div>
        <section>
            <div class="gp ls-gp3">
                <div class="fxd-bg" style="background-color: transparent;"></div>
                <div class="container">
                    <div class="pg-tl txt-cntr">
                        <form action="/submitSearch" class="search-form" id="searchForm" method="post" style="color:#333">
                           <div class="row sm-gp">
                            <label class="col-md-12">
                            <input type="checkbox" data-toggle="toggle" id="searchtoggle" data-on="Advanced" data-off="Basic"  data-onstyle="success" data-offstyle="success" checked>
                        </label>
                        </div>
                            <div class="row">
                                <div class="col-md-9 col-sm-12 sm-gp">
                                    <div class="input-group">
                                        <span class="input-group-addon">Key words:</span>
                                        <input type="text" class="rd30 text-input" name="keywords">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 sm-gp">
                                    <button type="button" class="thm-btn3 rd30" id="searchButton">Search</button>
                                </div>
                            </div>
                            <div id="searchshowbox">
                            <div class="row">
                                <div class="col-md-3 sm-gp">
                                    <div class="input-group">
                                        {% if outdate != ""%}
                                        <span class="input-group-addon" >Check In</span><input id="searchCheckIn" type="text" class="rd30" name="indate" placeholder="YY/MM/DD" value="{{indate}}">
                                        {% else %}
                                        <span class="input-group-addon" >Check In</span><input id="searchCheckIn" type="text" class="rd30" name="indate" placeholder="YY/MM/DD">
                                        {% endif%}
                                    </div>
                                </div>
                                <div class="col-md-3 sm-gp">
                                    <div class="input-group">
                                        {% if indate != ""%}
                                        <span class="input-group-addon" >Check Out</span><input id="searchCheckOut" type="text" class="rd30" name="outdate" placeholder="YY/MM/DD" value="{{outdate}}">
                                        {% else %}
                                        <span class="input-group-addon" >Check Out</span><input id="searchCheckOut" type="text" class="rd30" name="outdate" placeholder="YY/MM/DD">
                                        {% endif%}
                                    </div>
                                </div>
                                <div class="col-md-3 sm-gp">
                                    <div class="input-group">
                                        <span class="input-group-addon" >Beds</span>
                                        <select class="rd30" name="beds">
                                            <option></option>
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5+</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 sm-gp">
                                    <div class="input-group">
                                        <span class="input-group-addon" >Bedrooms</span>
                                        <select class="rd30" name="bedrooms">
                                            <option></option>
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5+</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 sm-gp">
                                    <div class="input-group">
                                        <span class="input-group-addon" >Room Type</span>
                                        <select class="rd30" name="type">
                                            <option></option>
                                          <option>Apartment</option>
                                          <option>Unit</option>
                                          <option>House</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 sm-gp">
                                    <div class="input-group">
                                        <span class="input-group-addon" >Bathrooms</span>
                                        <select class="rd30" name="bathrooms">
                                            <option></option>
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5+</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 sm-gp">
                                    <div class="input-group">
                                        <span class="input-group-addon" >Area</span>
                                        {% if flag == 1 %}
                                        <input id="flag" data-value="{{flag}}" name="flag" value="{{ city }}" hidden>
                                        {% else %}
                                        <input id="flag" data-value="0" name="flag" value="" hidden>
                                        {% endif%}
                                            <select class="rd30" name="city" >
                                            <option></option>
                                          {% for item in areaList %}
                                            <option value="{{ item['city']}}">{{ item['city'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 sm-gp">
                                    <div class="input-group">
                                        <span class="input-group-addon" >Price</span>
                                        <select class="rd30" name="price">
                                            <option></option>
                                          <option value="0">$0-$100</option>
                                          <option value="100">$100-$200</option>
                                          <option value="200">$200-$300</option>
                                          <option value="300">$300+</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <!--<div class="col-md-8">-->
                                    <!--<div class="input-group">-->
                                        <!--<span class="input-group-addon" >Price:</span>-->
                                        <!--<div class="form-check form-check-inline col-md-3">-->
                                          <!--<input class="form-check-input" type="radio" name="price" id="inlineRadio1" value="0">-->
                                          <!--<label class="form-check-label" for="inlineRadio1">$0-$50</label>-->
                                        <!--</div>-->
                                        <!--<div class="form-check form-check-inline col-md-3">-->
                                          <!--<input class="form-check-input" type="radio" name="price" id="inlineRadio2" value="50">-->
                                          <!--<label class="form-check-label" for="inlineRadio2">$50-$100</label>-->
                                        <!--</div>-->
                                        <!--<div class="form-check form-check-inline col-md-3">-->
                                          <!--<input class="form-check-input" type="radio" name="price" id="inlineRadio3" value="100">-->
                                          <!--<label class="form-check-label" for="inlineRadio3">$100-$150</label>-->
                                        <!--</div>-->
                                        <!--<div class="form-check form-check-inline col-md-3">-->
                                          <!--<input class="form-check-input" type="radio" name="price" id="inlineRadio4" value="150">-->
                                          <!--<label class="form-check-label" for="inlineRadio4">$150+</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="row sm-gp">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" >Amenities:</span>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="checkbox-inline"><input type="checkbox" value="tv" name="check_box_list">TV</label>
                                                <label class="checkbox-inline"><input type="checkbox" value="wifi" name="check_box_list">WIFI</label>
                                                <label class="checkbox-inline"><input type="checkbox" value="pets" name="check_box_list">Pets</label>
                                            </div>
                                            <div class="col-md-3">
                                                 <label class="checkbox-inline"><input type="checkbox" value="gym" name="check_box_list">Gym</label>
                                                <label class="checkbox-inline"><input type="checkbox" value="pool" name="check_box_list">Pool</label>
                                                <label class="checkbox-inline"><input type="checkbox" value="lift" name="check_box_list">Lift</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="checkbox-inline"><input type="checkbox" value="linens" name="check_box_list">Linens</label>
                                                <label class="checkbox-inline"><input type="checkbox" value="ketchen" name="check_box_list">Ketchen</label>
                                                <label class="checkbox-inline"><input type="checkbox" value="parking" name="check_box_list">Parking</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="checkbox-inline"><input type="checkbox" value="air_condition" name="check_box_list">Air_condition</label>
                                                <label class="checkbox-inline"><input type="checkbox" value="washing_machine" name="check_box_list">Washing_machine</label>
                                                <label class="checkbox-inline"><input type="checkbox" value="facilities_for_disabled" name="check_box_list">Facilities_for_disabled</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row sm-gp">-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="input-group">-->
                                        <!--<span class="input-group-addon" >Facilities:</span>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Free parking on premises</label>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Gym</label>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Spa</label>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Pool</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row sm-gp">-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="input-group">-->
                                        <!--<span class="input-group-addon" >Property type:</span>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">House</label>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Apartment</label>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Bed & Breakfast</label>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Boutique hotel</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row sm-gp">-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="input-group">-->
                                        <!--<span class="input-group-addon" >Neighbourhoods:</span>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Centre city</label>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">bank</label>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">hospital</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row sm-gp">-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="input-group">-->
                                        <!--<span class="input-group-addon" >House rules:</span>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Suitable for events</label>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Pets allowed</label>-->
                                        <!--<label class="checkbox-inline"><input type="checkbox" value="">Smoking allowed</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                               </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>

<section>
    <div class="gp ls-gp3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-lg-3">
                            <div class="sdbr">
                                <div class="wdgt">
                                    <h2 class="wdgt-tl2" itemprop="headline">Compare List</h2>
                                    <ul id="likeList">
                                    </ul>
                                    <button id="compareButton" class="thm-btn3 rd30 sm-gp " title="" itemprop="url">Compare
                                    </button>
                                </div>
                                <!--<div class="wdgt">-->
                                    <!--<h2 class="wdgt-tl2" itemprop="headline">About Us and This Blog</h2>-->
                                    <!--<div class="abt-us">-->
                                        <!--<div class="row mrgd5">-->
                                            <!--<div class="col-md-4 col-sm-4 col-lg-4">-->
                                                <!--<img src="images/resource/abt-wdgt2-1.jpg" alt="" itemprop="image"/>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-4 col-sm-4 col-lg-4">-->
                                                <!--<img src="images/resource/abt-wdgt2-2.jpg" alt="" itemprop="image"/>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-4 col-sm-4 col-lg-4">-->
                                                <!--<img src="images/resource/abt-wdgt2-3.jpg" alt="" itemprop="image"/>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<p iteprop="description">Mirum est notare quam littera gothica, quam nunc-->
                                            <!--putamus parum claram, anteposuerit litterarum formas humanitatis per seacula-->
                                            <!--quarta decima quinta.</p>-->
                                        <!--<a class="thm-btn3 rd30" href="about.html" title="" itemprop="url">Learn-->
                                            <!--More</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div><!-- Sidebar -->
                        </div>
                        <div class="col-md-9 col-sm-12 col-lg-9">
                            <div class="cases-tabs">
                                <ul class="nav nav-tabs" id="sortbuttons">
                                    <li class="nav-item"><a class="nav-link rd30 mg-l-20" id="totalresults">Total 0 results</a></li>
                                    <li class="nav-item"><a class="nav-link rd30 active mg-l-20" data-toggle="tab" id="low">Price low to high</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link rd30 mg-l-20" data-toggle="tab" id="high">Price high to low</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active">
                                        <div class="rmv-ext6">
                                            <div class="row" id="pageContain">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-right" id="page">
          </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section>-->
    <!--<div class="gp ls-gp3 drk-bg2">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12 col-sm-12 col-lg-12">-->
                    <!--<div class="nes-lstr">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-5 col-sm-12 col-lg-5">-->
                                <!--<div class="nws-ltr-tl">-->
                                    <!--<h3 itemprop="headline">Subscribe to Our Newsletter</h3>-->
                                    <!--<p itemprop="description">We have been on web marketing for 12 years helping you-->
                                        <!--compete on Internet and converting your visitors</p>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6 offset-md-1 col-sm-12 offset-sm-0 col-lg-6 offset-lg-1">-->
                                <!--<form class="nws-ltr-frm">-->
                                    <!--<input class="rd30" type="email" placeholder="Your Email"/>-->
                                    <!--<button class="thm-btn2 rd30" type="submit">Send</button>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash; Newsletter &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

{% endblock %}